<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jung.tthanguel">

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/ic_tt_hangeul_logo"
        android:icon="@drawable/ic_tt_hangeul_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_tt_hangeul_logo_round"
        android:theme="@style/Theme.Thock_Thock_Hangeul"
        tools:targetApi="31">

        <!-- 앱 최초 접속 페이지 -->
        <activity
            android:name="com.jung.tthanguel.StartTTHangeulActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 객체 인식 -->
        <activity
            android:name="com.jung.tthanguel.DetectorActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>